<div class="container">
  <div class="row justify-content-center">
    <div class="background-form"
      <div class="col-12 col-lg-6">
      <!-- This div is centered and takes 6 columns -->
        <%= simple_form_for @job do |f| %>
          <%= f.input :location %>
          <%= f.input :date %>
          <%= f.input :description %>
          <%= f.input :number_of_dogs, collection: 1..10 %>
          <%= f.button :submit, "Check it now", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>