
<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="form-card"  style="width: 600px";>
        <h1>Find the sitter closest to you.</h1>
        <p>Choose convenient location, and important criteria!</p>

        <%= simple_form_for @job do |f| %>
          <%= f.input :location %>

          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
          <%= f.input :number_of_dogs, collection: 1..10 %>

          <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
         <%= f.button :submit, "Search now", class: "btn btn-primary" %>
        <% end %>


      </div>
    </div>
  </div>
</div>
