  <div class="main-container">
    <div class="cards">
      <%@array_sitters.each do |sitter| %>
        <div class="card-sitter">
          <% if sitter.photo.attached? == true %>
            <% photo_url = cl_image_path sitter.photo.key, width: 400, height: 500, crop: :fill %>
            <img src= "<%= photo_url %>">
          <% else %>
            <% photo_url = "https://images.unsplash.com/photo-1535722339661-7f22185bc7ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" %>
            <img src= "<%= photo_url %>">
          <% end %>
           <div class="card-sitter-infos">
            <div>
              <% sitter_rating = sitter.reviews.sum(:rate).to_f / sitter.reviews.count %>
              <% if sitter_rating.nan? %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              <% else %>
                <% sitter_rating.to_i.times do  %>
                <span class="fas fa-star"></span>
                <% end %>
              <% end %>
              <h2><%= sitter.name %></h2>
              <p><%= sitter.location %></p>
             </div>
              <p><%= sitter.email %></p>
              <% unless @job.bookings.where(sitter_id: sitter.id).first.nil? %>
                <div class="button-status"> <%= @job.bookings.where(sitter_id: sitter.id).first.status %></div>
              <% else  %>
                <%= link_to "Book", job_bookings_path(@job, sitter_id: sitter.id), class: "btn-gradient book-button", method: :post  %>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


