<li></li>
<li><%= sitter_booking.id %></li>
<li><%= sitter_booking.status %></li>
<li><%= sitter_booking.job.starts_at %></li>
<li><%= sitter_booking.job.ends_at %></li>
<li><%= sitter_booking.job.owner.name %></li>
<li><%= sitter_booking.job.location %></li>
